.correo {
    position: absolute;
    top: 60px;
    left: 70px;
}

.pass {
    position: absolute;
    top: 120px;
    left: 70px;
}

.btningresar {
    position: absolute;
    top: 190px;
    left: 110px;
}

.btnregistrar {
    position: absolute;
    top: 235px;
    left: 95px;
}

.alerta1{
    color: var(--ion-color-variablecolor);
    font-size: var(--ion-font-size-variablesize);
    text-align: var(--text-align-variablecentrar);
}