<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-title>
        Pandora Music
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-content class="background">

  <h1 class="letracanciones">Artistas</h1>
  <swiper-container [initialSlide]="0" [slidesPerView]="3" *ngIf="artists?.length > 0">
    <swiper-slide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img src="{{artist.image}}" />
        <span class="letracanciones">{{artist.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

  <h1 class="letracanciones">Albumes</h1>
  <swiper-container [initialSlide]="0" [slidesPerView]="3" *ngIf="albums?.length > 0">
    <swiper-slide *ngFor="let album of albums">
      <ion-avatar class="album-style" (click)="showAlbumSongs(album)">
        <img src="{{album.image}}" />
        <span class="letracanciones">{{album.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

  <h1 class="letracanciones">Artistas Locales</h1>
  <swiper-container [initialSlide]="0" [slidesPerView]="3" *ngIf="localArtists?.length > 0">
    <swiper-slide *ngFor="let localArt of localArtists">
      <ion-avatar (click)="showSongs(localArt)">
        <img [width]="localArt.image.width" [height]="localArt.image.height" src="{{localArt.image.url}}" />
        <span class="letracanciones">{{localArt.name}}</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

</ion-content>



<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        {{ parseTime(currentSong?.currentTime) || "0:00" }}
      </ion-col>
      <ion-col class="ion-text-end">
        {{ parseTime(currentSong?.duration) || "0:00" }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-text>{{
          song?.name || "Sin cancion seleccionada"
          }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!song?.playing"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="song?.playing"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>