.slide-icon {
  font-size: 35px;
}

.title{

  text-shadow: 1px 1px 1px aqua;
  text-align: center;
}

.letra {
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px red;
}
.imagenes{ 
  
  width: 100%;
  height: auto;

}
.imagenes2{ 
  
  width: 100%;
  height: 240px;

}