ion-avatar {
    height: 100px;
    width: 100px;
}

swiper-slide {
    height: 120px;
}

.album-style {
    --border-radius: 4px;
}

.letracanciones {
    color: var(--ion-color-light);
    text-align: center;
}