<ion-header>
  <ion-toolbar>
   
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      
      <ion-button>
        <ion-icon name="reader-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">

    <ion-item class="correo2">
      <ion-input label="Email" type="email" labelPlacement="floating" placeholder="name@example.com" formControlName="email"></ion-input>
    </ion-item>

    <div class="alerta2">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="(
          registerForm.get('email')?.hasError(validation.type) && 
          registerForm.get('email')?.dirty) 
      ">
          {{validation.message}}
        </div>

      </ng-container>
    </div>

    <ion-item class="pass2">
      <ion-input label="Password" type="password" labelPlacement="floating" placeholder="*******" formControlName="password"></ion-input>
    </ion-item>

    <div class="alerta2">
      <ng-container *ngFor="let validation of validation_messagespass.password">
        <div *ngIf="(
          registerForm.get('password')?.hasError(validation.type) && 
          registerForm.get('password')?.dirty) 
      ">
          {{validation.message}}
        </div>

      </ng-container>
    </div>

    <ion-item class="nombre">
      <ion-input label="Name" labelPlacement="floating" placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>


    <div class="alerta2">
      <ng-container *ngFor="let validation of validation_messagesname.name">
        <div *ngIf="(
          registerForm.get('name')?.hasError(validation.type) && 
          registerForm.get('name')?.dirty) 
      ">
          {{validation.message}}
        </div>

      </ng-container>
    </div>
    <ion-item class="apellido">
      <ion-input label="Last Name" labelPlacement="floating" placeholder="Apellido" formControlName="last_name"></ion-input>
    </ion-item>

    <div class="alerta2">
      <ng-container *ngFor="let validation of validation_messageslastname.last_name">
        <div *ngIf="(
          registerForm.get('last_name')?.hasError(validation.type) && 
          registerForm.get('last_name')?.dirty) 
      ">
          {{validation.message}}
        </div>

      </ng-container>
    </div>



    <ion-button class="btningresar2"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Registrarse
    </ion-button>

    <ion-buttons  >
      <ion-button class="btnatras" shape="round"  (click)="goToLogin()">
      
        Atras
      </ion-button>
    </ion-buttons>

  </form>
</ion-content>
